/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Orbitron, Arial, sans-serif, 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif, monospace;
    margin: 0;
    background-color: #b4aea0; /* Light beige background */
}

section {
    margin: 0 auto;
    max-width: 95%;
}

/* Header styles */
header {
    text-align: center;
    background-color: #1d6c8b; /* Dark blue background */
    color: white;
    padding: 10px; /* Adjust padding as needed */
}

header h1 {
    font-size: 2.5rem; 
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem; 
    line-height: 1.6;
    margin-bottom: 20px; 
}

/* Section for projects */
.indent-2 {
    display: flex;
    flex-wrap: wrap; /* Ensure items wrap to new line */
    justify-content: center;
    gap: 20px; /* Space between project boxes */
}

/* Individual project box */
.content {
    position: relative; /* Ensure relative positioning for absolute children */
    width: 300px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    padding: 5px;
    background-color: #1d6c8b; /* White background */
    border: 1px solid #030101; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    text-align: center;
}

/* GitHub repository link */
.github {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white; /* Link color */
    font-size: 14px; /* Adjust font size as needed */
    padding: 10px; /* Padding for better touch target */
    box-sizing: border-box; /* Ensure padding is included in width/height calculation */
}

.github:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Image styles */
.img2 {
    width: 100%;
    height: 80%;
    object-fit: contain;
    border-radius: 6px;
    display: block;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
    position: relative; /* Ensure relative positioning for z-index */
    z-index: 1; /* Default z-index */
}

.img2:hover {
    transform: scale(2) translateZ(0) perspective(700px) rotateX(0); 
    z-index: 2;
}


/* Group project title */
.group-projects .group-project-title {
    text-align: center; /* Center align group project title */
    font-size: 1.8rem; 
    margin: 10px;
}

/* Individual project title */
.individual-project-title {
    text-align: center; /* Center align individual project title */
    font-size: 1.8rem; 
    margin: 10px; 
} 


/* Mobile (up to 767px) */
@media only screen and (max-width: 767px) {
    body {
        font-size: 2rem; 
    }

    header h1 {
        font-size: 2rem; 
    }

    header p {
        font-size: 1rem; 
    }

    .indent-2 {
        gap: 10px;
    }

    .indent-2 h2{
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .content {
        width: 100%; 
        height: auto; 
        margin-bottom: 20px; 
    }

    .img2 {
        height: 60%;
    }

    .group-projects {
        padding: 20px 0; 
    }

    .group-projects .indent-2 {
        max-width: 100%; 
    }

    .group-project-title {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    .individual-project-title {
        margin-bottom: 10px;
        font-size: 1.5rem; 
    }
}

/* Tablet (768px to 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 16px; 
    }

    header h1 {
        font-size: 2.2rem; 
    }

    header p {
        font-size: 1.1rem; 
    }

    .indent-2 {
        gap: 15px;
    }

    .content {
        width: calc(50% - 10px); 
        height: 250px;
        margin-bottom: 30px;
    }
    .indent-2 h2{
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .img2 {
        height: 80%;
    }

    .group-projects {
        padding: 30px 0;
    }

    .group-projects .indent-2 {
        max-width: 90%;
    }

    .group-project-title {
        margin-bottom: 10px;
        font-size: 1.8rem; 
    }

    .individual-project-title {
        font-size: 1.8rem; 
        margin-bottom: 10px;
    }
}

