/* Commonly used background colors  */
:root {
  --blue: #79bbf8;
  --dark-blue: #3d5368;
  --beige: #b4aea0;

}

/* Font Family and background color is defined for the whole page  */
body {
  font-family: Arial, sans-serif, 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif, monospace;
  margin: 0;
  background-color: var(--beige);
}

/* Indents are given to make space for the aside content */
.indent-1 {
  display: flex;
}

.indent-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2px;
}

/* Header background and font color is defined  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--dark-blue);
  color: #000;
}

/* Headers font sizes adjusted */
h1 {
  font-size: 200%;
}

h2 {
  margin-top: 2px;
  font-size: 180%;
}

/* Recent picture placement */
picture img {
  display: flex;
  max-width: 400px;
  max-height: 400px;
  justify-content: center;
}

/* Navigation bar adjustments */
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: #b9c6ae;
  font-weight: bold;
  text-decoration: none;
}

/* Work section is adjusted */
article {
  display: block;
  font-size: 18px;
  font-style: italic;
  background: var(--beige);
  text-align: center;
  max-width: 1000px;
  margin: 2px;
}

article p {
  padding-top: 10px;
  padding-bottom: 10px;
}

article h2 {
  background-color: var(--dark-blue);
  text-align: center;
  font-size: 35px;
  color: #111010
}

.img1 {
  max-width: 500px;
  max-height: 600px;
  padding-bottom: 2px;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 30px;
}

.img2 {
  height: 100%;
  width: 100%;
  padding-bottom: 2px;
}

/* First child is made bigger than the rest*/
.indent-2 .content:first-child .img2 {
  max-width: fill;
  max-height: fill;
}

.content:first-child {
  min-width: 400px;
  max-width: 100%;
  flex-basis: 100%;
  padding-bottom: 2px;
}

.content {
  display: flex;
  justify-content: center;
  max-width: 200px;
  max-height: fill;
}

/* Footer text and display adjustments*/
footer span {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 150%;
}

footer h4 {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 200%;
}

.center-links {
  display: flex;
  justify-content: center;
}

.Links {
  display: inline-flex;
  justify-content: center;
  padding: 10px;
  background-color: #044e29;
  color: #79bbf8;
  font-size: 150%
}


footer h5 {
  display: flex;
  font-size: 20px;
  text-align: end;
  justify-content: center;
  background-color: var(--dark-blue);
}

.Contact {
  display: flex;
  font-size: 15px;
  justify-content: center;
  background-color: var(--dark-blue);
}

/* Media screen added to make sure website works in all devices*/
@media screen and (max-width: 992px) {
  .content {
    max-width: 100px;
    max-height: 100px;
  }
}

@media screen and (max-width: 768px) {
  body{
    display: flex;
    flex-wrap: wrap;
  }
 
  nav {
    display: flex;
    flex-direction: column;
  }

  header {
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  body{
    display: flex;
    flex-wrap: wrap;
  }
  
  nav{
    display: block;
    flex-wrap: wrap;
}

header {
  flex-direction: column;
}
}